<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block cymaxx_title %} Title {% endblock%}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">My Website</a>
        <!-- Add navigation links here -->
        </nav>
    
        <div class="container mt-4">
            {% block content %}
            {% endblock %}
        </div>
        
    </body>
</html>