<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block cymaxx_title %} Title {% endblock%}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class="menu">
            <div class="top-buttons">
                <a id="reconnaisance">Reconnaisance</a>
                <!--<a id="recon_active">Recon_Active</a>-->
                <!--<a id="recon_passives">Recon_Passive</a>-->
                {% block cymaxx_meniu %} {%endblock%}
            </div>
        </div>
    </body>
</html>